// Variables

$colorPrincipal: #1ED760;
$colorSecundario: #2941AB;
$colorFondo: #000000;
$fontColor: #ffffff;
$fontColorFooter: #91948E;
$fontColorIcons: #222326;


$fontSize: 16px;
$fontSizeFooter: 12px;
$titleSize: 90px;

$fontFamiliy: 'Roboto', sans-serif;
