* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    
}

h1{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    color: blue;
}

header{
    height: 5rem;
    background-color: aquamarine;
}


/* Media Queries */

@media (max-width: 700px){
    h1{
        color: violet;
    }
}