*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    background-color: #F0A83E;
}
#titulo{
    display: none;
}

#nav-main ul{
    display: none;
}

#nav-main{
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
}

#nav-main img{
    width: 40vw;
}

.fa-bars{
    font-size: 5vw;
    color: white;
}

#portada{
    background-image: url(../img/portada.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#texto-portada{
    padding: 20vh 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
}

#texto-portada #titulo-portada{
    background-color: white;
    width: fit-content;
    font-size: 4rem;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

#texto-portada p{
    background-color: rgba(214, 214, 214,0.8);
    border-radius: 20px;
    padding: 10px;
}

#texto-portada a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    background-color: #F0A83E;
    border-radius: 20px;
    padding: 30px;
}

#categorias-main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#categorias-main img{
    width: 15vw;
    margin: 50px;
}

h1{
    font-size: 78px;
    margin-bottom: 50px;

}

#categorias-main a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    font-size: 30px;
    
}

#productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productos article{
    background-color: #FAF9F5;
    width: 60%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}

#productos p{
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}

.precio{
    color: #F0A83E;
}


#contacto-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 60px;
}

form{
    width: 60%;
}

form section{
    display: flex;
    flex-direction: column;
}

input{
    background-color: #392312;
    font-size: 30px;
    padding: 15px 10px;
    margin: 15px 0px;
    border-radius: 30px;
}

#botones{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

button{
    width: 50%;
    font-size: 30px;
    border-radius: 30px;
    border: none;
    background-color: #8A8787;
    color: white;
}

#submit{
    background-color: #F0A83E;
}