h1{
    text-align: center;
    color: #005677;
    background-color: #C4C4C4;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    word-spacing: 10px;
    letter-spacing: 10px;

    margin-top: 0;
    margin-bottom: 0;

}

h4{
    color: #005677;
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: 5px;
}

header{
    background-color: #E6E6E6;
}

body{
    background-color: #ffffff;
}



footer{
    background-color: #005677;
}

#separador{
    height: 100px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.bold{
    font-weight: bold;
    font-size: 15px;
    color: #16181c;
}

.personales{
    font-style: italic;
}

.social{
    text-align: center;
    word-spacing: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.icon{
    display: inline-block;
    
    margin: auto;
}