body{
    /* box-sizing: border-box; */
    margin: 0;
    width: 1024px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header{
    background-color: rgb(22, 22, 22);
}


#nav-main{
    display: flex;
    background-color: #F0A83E;
    justify-content: space-between;
    align-content: center;
    padding-left: 30px;
    color: #f3f3f3;
    text-align: ;
    color: azul;

}

#titulo{
    display: flex;
    justify-content: space-between;
    color: #f3f3f3;
    padding-left: 5%;
}

ul{
    display: flex;
    
}

li{
    list-style: none;
    padding: 0px 10px 0px 10px;
}

#portada{
    display: flex;
    justify-content: flex-end;

    background-image: url("../img/portada.png");
    background-size: cover;
    background-repeat: no-repeat;

    height: 409px;
    width: 1024px;

    
}

#texto-portada{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

#texto-portada a{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #F0A83E;
    color: #f3f3f3;
    text-decoration: none;
}

#titulo-portada{
    font-size: 25px;
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

#categorias-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#categorias-main h1{
    font-size: 30px;
}


#categorias-main a{
    text-decoration: none;
    color: rgb(27, 27, 27);
    margin-left: 20px;
    margin-right: 20px;
}

#productos{
    display: flex;
    justify-content: center;
}

#productos article{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFAF6;
}

#productos article p{
    font-weight: bold;
    
    

}

.precio{
    color: #F0A83E;
    margin-top: 0;
    margin-bottom: 10px;
}

#input-fields{
    width: 400px;
    color: #f3f3f3;
    margin-bottom: 30px;
}

#contacto-form h2{
    font-size: 30px;
}

#input-fields p{
    background-color: #3C2313;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    
}

#contacto-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#reset{
    color: #f3f3f3;
    text-decoration: none;
    background-color: #707070;
    padding: 7px 10px;
    border-radius: 20px;
}

#send{
    color: #f3f3f3;
    text-decoration: none;
    background-color: #F0A83E;
    padding: 7px 20px;
    border-radius: 20px;
}

#botones-form{
    margin-bottom: 100px;
}

#subscription{
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    color: #f3f3f3;
}

#subscription p{
    padding-left: 50px;
    
}

#subscription div{
    display: flex;
    justify-content: space-between;

}