* {
    margin: 0px;
    padding: 0px;
    font-family: 'Be Vietnam Pro', sans-serif;
}


/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 5vw;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    align-items: center;
}

header li {
    padding: 0px 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
}

#menu{
    display: none;
}


/* Main */

h1{
    font-size: 58px;
    font-weight: 700;
    color: #232C50;
}

#portada{
    padding: 50px 0px 50px 0px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

#portada article{
    width: 40%;
    padding-left: 10vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#portada img{
    width: 40%;
    padding-right: 5vw;
}

#portada p{
    font-weight: bold;
}

.boton-start ,button{
    background-color: rgb(242, 95, 58);
    width: fit-content;
    border-radius: 50px;
    padding: 10px 20px;
    color: #FFFFFF;
    box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.29);

}

.boton-start-alt{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 50px;
    padding: 10px 20px;
    color: rgb(242, 95, 58);
    box-shadow: 0px 5px 3px -2px rgba(0,0,0,0.29);

}
#info{
    display: flex;
    justify-content: space-between;
}

#info article{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}

#info div{
    width: 50px;
    height: fit-content;
    text-align: center;
    border-radius: 50px;
    margin-right: 30px;
    padding: 5px;
    color: #ffffff;
    background-color: rgb(242, 95, 58);
}

#items{
    width: 40%;
}
.info-items{
    width: 500px;
    /* margin-bottom: 40px; */
}

#descripcion{
    width: 50%;
    padding-left: 10vw;
}

h5{
    font-size: 16px;
    font-weight: bold;
}
.info-items p{
    color: #B3B2B7;
    font-weight: normal;
}

h2{
    color: #232851;
    font-size: 36px;
}

#descripcion p{
    font-weight: bolder;
    margin-top: 30px;
}

h3{
    font-size: 40px;
    color: #242E53;
    font-weight: bold;
    margin: 100px;
}

#experiencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experiencias section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#experiencias section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 250px;
    margin: 0px 10px;
    border-radius: 30px;
}

.imagen-perfil{
    position: relative;
    bottom: 60px;
    height: fit-content;
}

.nombres-experiencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    bottom: 30px;
}

#carrusel i{
    display: none;
}

#eslogan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f25f3a;
    margin-top: 200px;
}

#eslogan h3{
    color: #FFFFFF;
    width: 430px;
    margin: 50px;
}

/* Footer */

#info-footer{
    display: flex;
    justify-content: space-around;
    background-color: #1E1E26;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
}

#info-footer li{
    list-style-type: none;
    margin-bottom: 10px;
}

.iconos-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#iconos{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#copyright{
    background-color: #1E1E26;
    color: #8C8C94;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

#email , button{
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}


@media (max-width:375px){
    *{
        box-sizing: border-box;
    }

    /* Header */
    header nav{
        display: none;
    }
    header a{
        display: none;
    }
    
    header img{
        width: 30vw;
    }
    
    #menu{
        display: block;
        font-size: 25px;
    }

    /* Main */

    #portada{
        flex-direction: column-reverse;
        padding: 20px;
        margin-bottom: 50px;
        
    }
    
    #portada img{
        width: 100%;
        margin-bottom: 50px;
    }
    #portada article{
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        
    }

    #portada h1{
        font-size: 40px;
        margin-bottom: 30px;
        
    }
    #portada p{
        width: 100%;
        color: #B3B2B7;
        font-weight: 400;
        margin-bottom: 30px;
    }

    /* Info */
    #info{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }

    #descripcion{
        width: 100%;
        padding-left: 20px;
        padding: 20px;
        margin-bottom: 30px;

    }
    #descripcion p{
        color: #B3B2B7;
        font-weight: 400;
    }

    #items{
        width: 100%;
        padding: 10px;
        
    }

    #info div{
        margin-right: 10px;
        padding: 5px 15px;    
        font-weight: 500;
    }

    .info-items h5{
        padding: 5px 0px;
    }
    .info-items p{
        margin-top: 10px;
    }

    #experiencias h3{
        margin: 20px 0px 70px 0px;
        font-size: 30px;
    }

    #experiencias section{
        margin-top: 30px;
    }

    .imagen-perfil{
        height: 40%;
        
    }

    #experiencias article:nth-child(odd){
        display: none;
    }

    #carrusel i{
        display: block;
        font-size: 10px;
        color: #ffffff;
        border-color: #f25f3a;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        margin: 0px 5px;
    }

    #carrusel i:nth-child(even){
        color: #f25f3a;
    }

    #eslogan{
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        padding: 50px 30px;
        
    }

    #eslogan h3{
        margin: 0px;
        margin-bottom: 20px;
        width: 100%;
    }

    #info-footer{
        flex-direction: column-reverse;
        
    }

    form{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    #email{
        width: 70%;
    }
    button{
        width: 20%;
    }
    
    .footer-links{
        width: 100%;
        justify-content: space-around;
        margin: 50px 0px;
    }

    .iconos-img{
        flex-direction: column-reverse;
        align-items: center;
    }

    .iconos-img img{
        width: 50%;
    }

    #iconos{
        width: 100%;
        font-size: 30px;
        margin-bottom: 50px;
    }

    #copyright{
        font-size: 10px;
        justify-content: center;
        padding-right: 0px;
        padding-bottom: 30px;
    }
}
