* {
    margin: 0px;
    padding: 0px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    align-items: center;
}
header li {
    padding: 0px 20px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 58px;
    font-weight: 700;
    color: #232C50;
}

#portada{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#portada article{
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#portada p{
    font-weight: bold;
}

.boton-start{
    background-color: rgb(242, 95, 58);
    width: fit-content;
    border-radius: 50px;
    padding: 10px 20px;
    color: #FFFFFF;
    box-shadow: 1px 6px 25px -4px rgba(0,0,0,0.75);

}

#info{
    display: flex;
    justify-content: space-around;
}

#info article{
    display: flex;
    justify-content: center;
    
}

#info div{
    width: 50px;
    height: fit-content;
    text-align: center;
    border-radius: 50px;
    margin-right: 30px;
    padding: 5px;
    color: #ffffff;
    background-color: rgb(242, 95, 58);
}
.info-items{
    width: 500px;
    margin-bottom: 40px;
}

#descripcion{
    width: 500px;
}

h5{
    font-size: 16px;
    font-weight: bold;
}
.info-items p{
    color: #B3B2B7;
    font-weight: normal;
}

h2{
    color: #232851;
    font-size: 36px;
}

#descripcion p{
    font-weight: bolder;
    margin-top: 30px;
}

h3{
    font-size: 40px;
    color: #242E53;
    font-weight: bold;
    margin: 100px;
}

#experiencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experiencias section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#experiencias section article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
}

#experiencias section article img{
    position:relative;
    bottom: 72px;
    height: fit-content;
}