*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #000000;
    color: white;
}

a{
    text-decoration: none;
    color: #ffffff;
}

ul{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 auto;
    max-width: 970px;
}

header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header li{
    margin: 0px 20px;
    font-weight: 500;
    
}

#user{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user img{
    border-radius: 50%;
}

#user p{
    margin: 0px 15px
}

.logo{
    width: 150px;
}



main{
    height: 100vh;
    background-color: #2941AB;
    background-image: url(../img/bursts.svg);
    background-size: 165%;
    background-position-x: -31vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #1ED760;
    
}

main h1{
    font-weight: 900;
    font-size: 90px;
}

main p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 30px 0px;
}

main a{
    background-color: #1ED760;
    border-radius: 30px;
    padding: 15px 40px;
    color: #2941AB;
    font-weight: 700;
}

footer section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    align-items: flex-start;
}
