main{
    height: 1116px;
    width: 1440px;
    background-color: rgb(231, 231, 231);
}

h1{
    
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 5px;
}

p{
    font-size: 20px;
    margin-top: 5px;
}


form{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #00669F;
    border-radius: 50px;
    height: 800px;
    
}

#formulario{
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    
}

#left-field{
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-around;
    color:#ffffff;
    height: 500px;
    
}


#right-field{
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-between;
    color:#ffffff;
    height: 500px;
}

#left-field label{
    display: block;
}


#tipo-personaje{
    
    background-color: rgb(207, 207, 207);
    height: 1px;
    margin: 20px 0px;
}

input, textarea{
    border-radius: 15px;
    border: none;
    width: 100%;
}

input{
    height: 60px;
}

